---
import "@fontsource-variable/inter";
import "../styles/global.css";

const ogImage = `${import.meta.env.CF_PAGES_URL}/portfolio_og_image.png`;
---

<!doctype html>
<html lang="en" class="motion-safe:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={ogImage} />
    <meta name="description" content="website" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://beta.vinay-gajjar.pages.dev/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Vinay Gajjar - Personal Website" />
    <meta
      property="og:description"
      content="A full-stack developer with a front-end focus."
    />
    <meta property="og:image" content={ogImage} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="beta.vinay-gajjar.pages.dev" />
    <meta
      property="twitter:url"
      content="https://beta.vinay-gajjar.pages.dev/"
    />
    <meta name="twitter:title" content="Vinay Gajjar - Personal Website" />
    <meta
      name="twitter:description"
      content="A full-stack developer with a front-end focus."
    />
    <meta name="twitter:image" content={ogImage} />

    <title>Vinay Gajjar - Personal Website</title>
  </head>
  <body class="flex flex-col min-h-dvh bg-gray-100 font-sans">
    <slot />

    <script>
      let isOpen = false;
      document.addEventListener("DOMContentLoaded", () => {
        const navMenu = document.getElementById("nav-menu");
        const toggleNavMenuButton = document.getElementById("toggle-nav-menu");
        const [hamburgerIcon, xIcon] =
          toggleNavMenuButton.querySelectorAll("svg");

        const openNavMenu = () => {
          hamburgerIcon.classList.replace("opacity-100", "opacity-0");
          xIcon.classList.replace("opacity-0", "opacity-100");

          navMenu.classList.replace("translate-x-full", "translate-x-0");

          isOpen = true;
        };

        const closeNavMenu = () => {
          hamburgerIcon.classList.replace("opacity-0", "opacity-100");
          xIcon.classList.replace("opacity-100", "opacity-0");

          navMenu.classList.replace("translate-x-0", "translate-x-full");

          isOpen = false;
        };

        navMenu.querySelectorAll("a").forEach((link) => {
          link.addEventListener("click", () => {
            closeNavMenu();
          });
        });

        toggleNavMenuButton.addEventListener("click", () => {
          if (isOpen) {
            closeNavMenu();
          } else {
            openNavMenu();
          }
        });
      });
    </script>
  </body>
</html>
